* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
body {
    background-color: #ffffff;
}
ul, li, ol  {
    list-style-type: none;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 50px;
}
h2 {
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 36px;
    margin-top: 10px;
}
h3 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 30px;
    display: inline-block;
}
nav {
    background-color: #ffffff;
    border-bottom: 1px solid #f2f3f4;
}
.nav a {
    color: #242630;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.nav a:hover {
    color: darkgrey;
    transition: 1s;
}
.nav {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    margin-right: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;   
}
.logo-nav {
    margin-top: 20px;
    /* margin-left: 30%; */
    font-size: 20px;
}
.headerimg {
    height: 90px;
    margin-top: 30px;
    margin-left: 12%;
    display: block;
}
.header-container {
    padding-top: 165px;
    margin-top: 18em;
}
.busimg {
    height: 160px;
}
.product-sect {
    margin-top: 95px;
    background-color: #f6f6f6;
    padding-top: 90px;
    padding-bottom: 90px;
}
.product-content {
    width: 80%;
    margin: 0 auto;
}
.product-title {
    font-size: 16px;
    margin-top: 15px;
    color: black;
}
.product-price {
    font-size: 14px;
    color: #aad2bc;
}
.product-img {
    /* height: 300px; */
    width: 300px;
}
.hr {
    width: 40px;
    color: #aad2bc;
    margin-bottom: 20px;
}
.subscription-sect {
    background-color: #1c1e28;
    padding-top: 90px;
}
.subscription-content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.coffeeimg {
    height: 100%;
    width: 80%;
}
.subscription-title {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.subscription-p {
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}
.find-out-more {
    font-size: 15px;
    padding: 20px;
    border: 1px solid cyan;
    border-radius: 0px;
    margin-top: 70px;
    color: white;
}
.find-out-more:hover {
    border: 1px solid #539660;
    color: white;
}
.events-sect {
    background-color: #f2f3f4;
}
.events-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.events-title {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.events-p {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
}
.busimg2 {
    height: 100%;
    width: 80%;
}
.find-out-more-2 {
    font-size: 15px;
    padding: 20px;
    border: 1px solid #539660;
    border-radius: 0px;
    margin-top: 70px;
    color: black;
}
.find-out-more-2:hover {
    border: 1px solid green;
    color: black;
}
footer {
    background-color: #1c1e28;
    padding-top: 90px;
    padding-bottom: 60px;
}
.media-icons i {
    color: white;
    font-size: 26px;
}
.media-icons i:hover {
    color: #50a478;
    transition: 0.6s;
}
.address {
    color: white;
    font-size: 15px;
}
.links {
    color: white;
    font-size: 15px;
}
.links a {
    color: white;
}
.links a:hover {
    color: #50a478;
    transition: 0.6s;
}
.copyright {
    color: grey;
    font-size: 14px;
}
.credit {
    color: grey;
    font-size: 14px;
}
hr {
    color: white;
    margin-bottom: 3em;
    margin-top: 10em;
}
/* Second/Account Webpage */
.account-sect {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6em;
    padding-top: 20em;
}
.account-sect h3 {
    margin-bottom: 2em;
    font-size: 25px;
}
fieldset {
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 2em;
}
label {
    font-size: 15px;
    color: slategrey;
}
.asterisk {
    color: red;
}
.lost {
    display: block;
}
a .lost {
    color: #50a478;
    font-size: 15px;
}
.login-btn {
    border: 1px solid green;
    border-radius: 1px;
    margin-top: 1em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 1em;
    margin-bottom: 1em;
}
.form-control {
    border-radius: 1px;
    background-color: #eeeeee;
    line-height: 3em;
}
.reg-email-desc {
    font-size: 15px;
    color: grey;
    margin-top: 1em;
}
.margin-left {
    margin-right: 21%;
}
.me-8 {
    margin-left: 21em;
}
header {
    background-color: white;
    transition: 0.2s;
}
/* SUSTAINABILITY PAGE */

.sustainability-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 20em;
}
.sustainability-sect {
    background-color: #f6f6f6;
}
.story {
    width: 50%;
}
h4 {
    margin-top: 20%;
    margin-bottom: 3em;
    display: block;
    margin-right: 65%;
    font-size: 42px;
}
.account-header {
    margin-left: 14em;
}